<div class="team-row">

    <div class="">
        <h2>Large Breakpoint </h2>
    </div>

</div>

<div class="team-row">

    <div class="team-col-lg-1-2 team-grid-item">
        <code>.team-col-lg-1-2</code>
    </div>

    <div class="team-col-lg-1-2 team-grid-item">
        <code>.team-col-lg-1-2</code>
    </div>                

</div>

<div class="team-row">

    <div class="team-col-lg-1-3 team-grid-item">
        <code>.team-col-lg-1-3</code>
    </div>

    <div class="team-col-lg-1-3 team-grid-item">
        <code>.team-col-lg-1-3</code>
    </div>

    <div class="team-col-lg-1-3 team-grid-item">
        <code>.team-col-lg-1-3</code>
    </div>

</div>

<div class="team-row">

    <div class="team-col-lg-1-3 team-grid-item">
        <code>.team-col-lg-1-3</code>
    </div>

    <div class="team-col-lg-2-3 team-grid-item">
        <code>.team-col-lg-2-3</code>
    </div>

</div>

<div class="team-row">

    <div class="team-col-lg-1-4 team-grid-item">
        <code>.team-col-lg-1-4</code>
    </div>

    <div class="team-col-lg-1-4 team-grid-item">
        <code>.team-col-lg-1-4</code>
    </div>

    <div class="team-col-lg-1-4 team-grid-item">
        <code>.team-col-lg-1-4</code>
    </div>

    <div class="team-col-lg-1-4 team-grid-item">
        <code>.team-col-lg-1-4</code>
    </div>

</div>