<div class="team-row">

    <div class="">
        <h2>mdium Breakpoint </h2>
    </div>

</div>

<div class="team-row">

    <div class="team-col-md-1-2 team-grid-item">
        <code>.team-col-md-1-2</code>
    </div>

    <div class="team-col-md-1-2 team-grid-item">
        <code>.team-col-md-1-2</code>
    </div>                

</div>

<div class="team-row">

    <div class="team-col-md-1-3 team-grid-item">
        <code>.team-col-md-1-3</code>
    </div>

    <div class="team-col-md-1-3 team-grid-item">
        <code>.team-col-md-1-3</code>
    </div>

    <div class="team-col-md-1-3 team-grid-item">
        <code>.team-col-md-1-3</code>
    </div>

</div>

<div class="team-row">

    <div class="team-col-md-1-3 team-grid-item">
        <code>.team-col-md-1-3</code>
    </div>

    <div class="team-col-md-2-3 team-grid-item">
        <code>.team-col-md-2-3</code>
    </div>

</div>

<div class="team-row">

    <div class="team-col-md-1-4 team-grid-item">
        <code>.team-col-md-1-4</code>
    </div>

    <div class="team-col-md-1-4 team-grid-item">
        <code>.team-col-md-1-4</code>
    </div>

    <div class="team-col-md-1-4 team-grid-item">
        <code>.team-col-md-1-4</code>
    </div>

    <div class="team-col-md-1-4 team-grid-item">
        <code>.team-col-md-1-4</code>
    </div>

</div>