---
title: Web examples
heading: 'Digital Guidelines'
published: true
---
                
<ul class="team-bp-selector">
    <li><a href="#" class="team-bp-selector_item" data-breakpoint="320px">Small</a></li>
    <li><a href="#" class="team-bp-selector_item" data-breakpoint="768px">Medium</a></li>
    <li><a href="#" class="team-bp-selector_item" data-breakpoint="1024px">Large</a></li>
    <li><a href="#" class="team-bp-selector_item" data-breakpoint="100%">Full</a></li>
</ul>

<div class="team-iframe-wrapper">

    <iframe src="web-components.html" frameborder="0" class="team-iframe"></iframe>

</div>