<section id="section-7" class="team-section" data-section-title="Section header - full width header column">
    
    <div class="team-container">

        <div class="team-row">
            
            <h1>Section header - Full width header column (above content columns)</h1>

        </div>
        
        <div class="team-row">
            <div class="team-col-md-1-3">
                    
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci natus eligendi, inventore eveniet ex cumque error perferendis a voluptate animi!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam voluptates, corporis, temporibus repellat totam cupiditate assumenda, minima libero alias nobis incidunt neque ipsum aliquid nulla? Suscipit culpa corporis explicabo, eius.</p>          

            </div>

            <div class="team-col-md-2-3">                

                <img src="assets/images/demo/placeholder-inline-large.png" class="team-image-placeholder" alt="Placeholder image" />

            </div>  
        </div>

    </div>

</section>