<section id="section-1" class="team-section" data-section-title="Section with background image" style="background-image:url(assets/images/demo/backgrounds/bg-cat.jpg)">
    
    <div class="team-container">

        <h1>Section with background image</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, deserunt.</p>

    </div>

</section>