<section id="section-0" class="team-section bg-grey-mid" data-section-title="Section with solid background colour">
    
    <div class="team-container">
            
        <h1>Section with solid background colour</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, deserunt.</p>

    </div>

</section>