<section id="section-2" class="team-section" data-section-title="Section with background video" style="">

    <video class="team-video-background">
        <source type="video/mp4" src="https://player.vimeo.com/external/129556717.hd.mp4?s=1e6f8a7e558cb79025b716eccd24888d&amp;profile_id=113">
    </video>
    
    <div class="team-container">

        <h1>Section with background video</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, deserunt.</p>

    </div>

</section>