<!-- sections - image with caption -->

<section id="section-10" class="team-section" data-section-title="Image row modules with supporting text">
    
    <div class="team-container">

        <div class="team-row">
            
            <h1>Image row modules with supporting text</h1>

        </div>

        <div class="team-row">

            <div class="team-col-md-1-4">                    

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci natus eligendi, inventore eveniet ex cumque error perferendis a voluptate animi!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam voluptates, corporis, temporibus repellat totam cupiditate assumenda, minima libero alias nobis incidunt neque ipsum aliquid nulla? Suscipit culpa corporis explicabo, eius.</p>
                
            </div>

            <div class="team-col-md-3-4">
                
                <!-- image block with supporting text -->
                <div class="team-row team-row--image">
                
                    <div class="team-image-block">
                        
                        <img src="assets/images/demo/placeholder-inline-small.png" class="team-image-placeholder" alt="Placeholder image" />

                    </div>
                    
                    <div class="team-image-supporting">
                            
                        <p><strong>Caption</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et fuga exercitationem numquam, iusto necessitatibus sequi cupiditate dolores excepturi harum. At aperiam expedita facilis possimus temporibus, incidunt beatae a libero eos.</p>

                    </div>

                </div>

                <!-- image block with supporting text -->
                <div class="team-row team-row--image">
                
                    <div class="team-image-block">
                        
                        <img src="assets/images/demo/placeholder-inline-small.png" class="team-image-placeholder" alt="Placeholder image" />

                    </div>
                    
                    <div class="team-image-supporting">
                            
                        <p><strong>Caption</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, dicta.</p>

                    </div>

                </div>

                <!-- image block with supporting text -->
                <div class="team-row team-row--image">
                
                    <div class="team-image-block">
                        
                        <img src="assets/images/demo/placeholder-inline-small.png" class="team-image-placeholder" alt="Placeholder image" />

                    </div>
                    
                    <div class="team-image-supporting">
                            
                        <p><strong>Caption</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, dicta.</p>

                    </div>

                </div>

                

            </div>

        </div>

    </div>

</section>