<!-- block grid layout -->

<section id="section-9" class="team-section" data-section-title="Block Grid layout">
    
    <div class="team-container">
        
        <div class="team-row">
            <div class="team-col-md-1-2">
                    
                <h1>Block Grid layout</h1>                

            </div>

            <div class="team-col-md-1-2">                

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam voluptates, corporis, temporibus repellat totam cupiditate assumenda, minima libero alias nobis incidunt neque ipsum aliquid nulla? Suscipit culpa corporis explicabo, eius.</p>

            </div>  
        </div>
            
        <!-- start block grid -->

        <!-- row 1 -->
        <div class="team-row team-block-grid">

            <div class="team-col-md-1-3">
                
                <a href="#" class="team-block-grid_item ">

                    <h2 class="team-block-grid_item_header">Block grid item Header 1</h2>

                    <div class="team-block-grid_item_inner">

                        <img src="assets/images/demo/placeholder-inline-small.png" class="team-image-placeholder" alt="Placeholder image" />

                    </div>

                </a>

            </div>

            <div class="team-col-md-2-3">
                
                <a href="#" class="team-block-grid_item ">

                    <h2 class="team-block-grid_item_header">Block grid item Header 2</h2>

                    <div class="team-block-grid_item_inner">

                        <img src="assets/images/demo/placeholder-inline-wide.png" class="team-image-placeholder" alt="Placeholder image" />

                    </div>

                </a>

            </div>

        </div>

        <!-- row 2 -->
        <div class="team-row team-block-grid">

            <div class="team-col-md-2-3">
                
                <a href="#" class="team-block-grid_item ">

                    <h2 class="team-block-grid_item_header">Block grid item Header 3</h2>
                    
                    <div class="team-block-grid_item_inner">
                        <img src="assets/images/demo/placeholder-inline-wide.png" class="team-image-placeholder" alt="Placeholder image" />
                    </div>

                </a>

            </div>

            <div class="team-col-md-1-3">

                <a href="#" class="team-block-grid_item">
                
                    <h2 class="team-block-grid_item_header">Block grid item Header 4</h2>
                    
                    <div class="team-block-grid_item_inner">
                        <img src="assets/images/demo/placeholder-inline-small.png" class="team-image-placeholder" alt="Placeholder image" />
                    </div>
                </a>

            </div>

        </div>

        <!-- row 3 -->
        <div class="team-row team-block-grid">

            <div class="team-col-md-1-3">
                
                <a href="#" class="team-block-grid_item ">

                    <h2 class="team-block-grid_item_header">Block grid item Header 5</h2>
                    
                    <div class="team-block-grid_item_inner">
                        <img src="assets/images/demo/placeholder-inline-small.png" class="team-image-placeholder" alt="Placeholder image" />
                    </div>

                </a>

            </div>

            <div class="team-col-md-2-3">
                
                <a href="#" class="team-block-grid_item ">

                    <h2 class="team-block-grid_item_header">Block grid item Header 6</h2>
                    
                    <div class="team-block-grid_item_inner">
                        <img src="assets/images/demo/placeholder-inline-wide.png" class="team-image-placeholder" alt="Placeholder image" />
                    </div>

                </a>

            </div>

        </div>

    </div>

</section>