<section id="section-4" class="team-section" data-section-title="Section header - 1/2 width column">
    
    <div class="team-container">
        
        <div class="team-row">

            <div class="team-col-md-1-2">
                    
                <h1>Section header - 1/2 width column</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci natus eligendi, inventore eveniet ex cumque error perferendis a voluptate animi!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam voluptates, corporis, temporibus repellat totam cupiditate assumenda, minima libero alias nobis incidunt neque ipsum aliquid nulla? Suscipit culpa corporis explicabo, eius.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit alias inventore, dicta harum dolor excepturi vitae, magni blanditiis sapiente ut similique nesciunt, ipsam odit. Quos incidunt harum rem voluptatem eaque, dolor a minima ab mollitia magnam omnis consequatur ipsa aliquid.</p>

            </div>

            <div class="team-col-md-1-2">
                
                <img src="assets/images/demo/placeholder-inline-large.png" class="team-image-placeholder" alt="Placeholder image" />

            </div>  

        </div>

    </div>

</section>