<section id="section-3" class="team-section" data-section-title="Section with horizontal slide" style=""> 

    <div class="team-slider">
        
        <div>

            <div class="team-container">
                <h2>Slide 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, vel. Praesentium sed reiciendis, corporis magnam, dolorem numquam est esse quasi in rem harum possimus sint doloribus aperiam quaerat dolorum totam eum enim odio inventore eligendi officiis iure architecto adipisci. Repellendus dolor veritatis quae, pariatur eum cumque fugit deleniti nemo, asperiores eaque molestias adipisci dicta vel mollitia, provident? Incidunt omnis vero eligendi quod, dolores non quam explicabo rem pariatur eveniet quisquam quaerat doloribus voluptate sint ea culpa quos eaque eos officiis quidem minus! Totam vero eum reiciendis vitae similique. Iusto ea praesentium adipisci, maiores placeat sequi id quam fuga, ex voluptatum?</p>
            </div>

        </div>

        <div>

            <div class="team-container">
                <h2>Slide 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, vel. Praesentium sed reiciendis, corporis magnam, dolorem numquam est esse quasi in rem harum possimus sint doloribus aperiam quaerat dolorum totam eum enim odio inventore eligendi officiis iure architecto adipisci. Repellendus dolor veritatis quae, pariatur eum cumque fugit deleniti nemo, asperiores eaque molestias adipisci dicta vel mollitia, provident? Incidunt omnis vero eligendi quod, dolores non quam explicabo rem pariatur eveniet quisquam quaerat doloribus voluptate sint ea culpa quos eaque eos officiis quidem minus! Totam vero eum reiciendis vitae similique. Iusto ea praesentium adipisci, maiores placeat sequi id quam fuga, ex voluptatum?</p>
            </div>

        </div>

    </div>

</section>