<nav class="team-navigation">
        
    <button id="team-navigation_toggle" class="team-navigation_toggle" data-menu-target="team-menu-primary">Menu</button>

    <ul id="team-menu-primary" class="team-menu team-menu-primary">
        <li class="team-menu_item has-subnav">
            <a href="/brand-story.html#section-0" class="team-menu_item_link" data-section-target="section-0">Our brand story</a>
            <ul class="team-menu team-menu--sub">
                <li class="team-menu_item"><a href="/brand-story.html#section-0" class="team-menu_item_link" data-section-target="section-0">Section 0</a></li>
                <li class="team-menu_item"><a href="/brand-story.html#section-0-1" class="team-menu_item_link" data-section-target="section-0-1">Section 0-1</a></li>
                <li class="team-menu_item"><a href="/brand-story.html#section-0-2" class="team-menu_item_link" data-section-target="section-0-2">Section 0-2</a></li>
                <li class="team-menu_item"><a href="/brand-story.html#section-1" class="team-menu_item_link" data-section-target="section-1">Section 1</a></li>
                <li class="team-menu_item"><a href="/brand-story.html#section-2" class="team-menu_item_link" data-section-target="section-2">Section 2</a></li>
                <li class="team-menu_item"><a href="/brand-story.html#section-3" class="team-menu_item_link" data-section-target="section-3">Section 3</a></li>
                <li class="team-menu_item"><a href="/brand-story.html#section-3-1" class="team-menu_item_link" data-section-target="section-3-1">Section 3-1</a></li>
                <li class="team-menu_item"><a href="/brand-story.html#section-3-2" class="team-menu_item_link" data-section-target="section-3-2">Section 3-2</a></li>
            </ul>
        </li>
        <li class="team-menu_item has-subnav">
            <a href="/brand-elements.html" class="team-menu_item_link">Our brand elements</a>
            <ul class="team-menu team-menu--sub">
                <li class="team-menu_item"><a href="/brand-elements.html#section-0" class="team-menu_item_link" data-section-target="section-0">Overview</a></li>
                <li class="team-menu_item"><a href="/brand-elements.html#section-1" class="team-menu_item_link" data-section-target="section-1">Our Logo</a></li>
                <li class="team-menu_item"><a href="/brand-elements.html#section-2" class="team-menu_item_link" data-section-target="section-2">Our Typography style</a></li>
                <li class="team-menu_item"><a href="/brand-elements.html#section-3" class="team-menu_item_link" data-section-target="section-3">Our layout style</a></li>
                <li class="team-menu_item"><a href="/brand-elements.html#section-4" class="team-menu_item_link" data-section-target="section-4">Our photography style</a></li>
                <li class="team-menu_item"><a href="/brand-elements.html#section-5" class="team-menu_item_link" data-section-target="section-5">Our tone of voice</a></li>
                <li class="team-menu_item"><a href="/brand-elements.html#section-6" class="team-menu_item_link" data-section-target="section-6">Messaging</a></li>
            </ul>
        </li> 
        <li class="team-menu_item has-subnav">
            <a href="/print.html" class="team-menu_item_link">Print examples</a>
            <ul class="team-menu team-menu--sub">
                <li class="team-menu_item"><a href="/print.html#section-0" class="team-menu_item_link" data-section-target="section-0">Example 1</a></li>
                <li class="team-menu_item"><a href="/print.html#section-1" class="team-menu_item_link" data-section-target="section-1">Example 2</a></li>                    
            </ul>
        </li> 
        <li class="team-menu_item has-subnav">
            <a href="/web.html" class="team-menu_item_link">Web examples</a>
            <ul class="team-menu team-menu--sub">
                <li class="team-menu_item"><a href="/web.html#section-0" class="team-menu_item_link" data-section-target="section-0">Example 1</a></li>
                <li class="team-menu_item"><a href="/web.html#section-1" class="team-menu_item_link" data-section-target="section-1">Example 2</a></li>                    
            </ul>
        </li>
        <!-- Framework specific -->
        <li class="team-menu_item has-subnav">
            <a href="/guide/guideline-styles.html" class="team-menu_item_link">Guide</a>
            <ul class="team-menu team-menu--sub">
                <li class="team-menu_item"><a href="/guide/guideline-styles.html#section-0" class="team-menu_item_link" data-section-target="section-0">Styles</a></li>
                <li class="team-menu_item"><a href="/guide/guideline-layouts.html#section-0" class="team-menu_item_link" data-section-target="section-0">Modules</a></li>
                <li class="team-menu_item"><a href="/guide/guideline-grid.html" class="team-menu_item_link" data-section-target="section-0">Grid</a></li>
            </ul>
        </li> 
    </ul>

</nav>