@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide:focus {
  outline: 0;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 30px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

/*
Breakpoints

	small = 600px
	medium = 768px
	large = 1024px
	wide = 1200px;
*/
/*
 * Mixin: Reponsive helper
 */
/*
 * Mixin: background size
 */
/*
 * Mixin: font size
 */
/*
 * Mixin: maintain aspect ratio
 */
/*
 * Mixin: mixin name
 */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
button:hover,
button:focus {
  background-color: #2c5999;
  color: #fff;
}

button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

fieldset {
  background-color: white;
  border: 1px solid #ededed;
  margin: 0 0 0.75em;
  padding: 1.5em;
}

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
}

label {
  font-weight: 600;
  margin-bottom: 0.375em;
}

label.required::after {
  content: "*";
}

label abbr {
  display: none;
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%;
}

input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
select[multiple=multiple]:hover,
textarea:hover {
  border-color: #d4d4d4;
}

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
select[multiple=multiple]:focus,
textarea:focus {
  border-color: #477dca;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

dl {
  margin-bottom: 0.75em;
}

dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}

dl dd {
  margin: 0;
}

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #c7c7c7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #ededed;
  padding: 0.75em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #303030;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

p {
  margin: 0 0 0.75em;
}

a {
  color: #303030;
  text-decoration: none;
  transition: color 0.1s linear;
}

a:active, a:focus, a:hover {
  color: #0a0a0a;
}

a:active, a:focus {
  outline: none;
}

hr {
  border-bottom: 1px solid #ededed;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.team-container {
  max-width: 87.5em;
  margin-left: auto;
  margin-right: auto;
}

.team-container::after {
  clear: both;
  content: "";
  display: table;
}

.team-row {
  display: block;
}

.team-row::after {
  clear: both;
  content: "";
  display: table;
}

.team-grid-item {
  background-color: #ededed;
}

.team-col-1-2 {
  float: left;
  display: block;
  margin-right: 2.6240433437%;
  width: 48.6879783282%;
}

.team-col-1-2:last-child {
  margin-right: 0;
}

.team-col-1-2:nth-child(2n) {
  margin-right: 0;
}

.team-col-1-2:nth-child(2n+1) {
  clear: left;
}

.team-col-1-3 {
  float: left;
  display: block;
  margin-right: 2.6240433437%;
  width: 31.5839711042%;
}

.team-col-1-3:last-child {
  margin-right: 0;
}

.team-col-1-3:nth-child(3n) {
  margin-right: 0;
}

.team-col-1-3:nth-child(3n+1) {
  clear: left;
}

.team-col-2-3 {
  float: left;
  display: block;
  margin-right: 2.6240433437%;
  width: 65.7919855521%;
}

.team-col-2-3:last-child {
  margin-right: 0;
}

.team-col-1-4 {
  float: left;
  display: block;
  margin-right: 2.6240433437%;
  width: 23.0319674923%;
}

.team-col-1-4:last-child {
  margin-right: 0;
}

.team-col-1-4:nth-child(4n) {
  margin-right: 0;
}

.team-col-1-4:nth-child(4n+1) {
  clear: left;
}

.team-col-3-4 {
  float: left;
  display: block;
  margin-right: 2.6240433437%;
  width: 74.3439891641%;
}

.team-col-3-4:last-child {
  margin-right: 0;
}

@media (min-width: 37.5em) {
  .team-col-sm-1-2 {
    float: left;
    display: block;
    margin-right: 2.6240433437%;
    width: 48.6879783282%;
  }
  .team-col-sm-1-2:last-child {
    margin-right: 0;
  }
  .team-col-sm-1-2:nth-child(2n) {
    margin-right: 0;
  }
  .team-col-sm-1-2:nth-child(2n+1) {
    clear: left;
  }
  .team-col-sm-1-3 {
    float: left;
    display: block;
    margin-right: 2.6240433437%;
    width: 31.5839711042%;
  }
  .team-col-sm-1-3:last-child {
    margin-right: 0;
  }
  .team-col-sm-1-3:nth-child(3n) {
    margin-right: 0;
  }
  .team-col-sm-1-3:nth-child(3n+1) {
    clear: left;
  }
  .team-col-sm-2-3 {
    float: left;
    display: block;
    margin-right: 2.6240433437%;
    width: 65.7919855521%;
  }
  .team-col-sm-2-3:last-child {
    margin-right: 0;
  }
  .team-col-sm-1-4 {
    float: left;
    display: block;
    margin-right: 2.6240433437%;
    width: 23.0319674923%;
  }
  .team-col-sm-1-4:last-child {
    margin-right: 0;
  }
  .team-col-sm-1-4:nth-child(4n) {
    margin-right: 0;
  }
  .team-col-sm-1-4:nth-child(4n+1) {
    clear: left;
  }
  .team-col-sm-3-4 {
    float: left;
    display: block;
    margin-right: 2.6240433437%;
    width: 74.3439891641%;
  }
  .team-col-sm-3-4:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48em) {
  .team-col-md-1-2 {
    float: left;
    display: block;
    margin-right: 2.6240433437%;
    width: 48.6879783282%;
  }
  .team-col-md-1-2:last-child {
    margin-right: 0;
  }
  .team-col-md-1-2:nth-child(2n) {
    margin-right: 0;
  }
  .team-col-md-1-2:nth-child(2n+1) {
    clear: left;
  }
  .team-col-md-1-3 {
    float: left;
    display: block;
    margin-right: 2.6240433437%;
    width: 31.5839711042%;
  }
  .team-col-md-1-3:last-child {
    margin-right: 0;
  }
  .team-col-md-1-3:nth-child(3n) {
    margin-right: 0;
  }
  .team-col-md-1-3:nth-child(3n+1) {
    clear: left;
  }
  .team-col-md-2-3 {
    float: left;
    display: block;
    margin-right: 2.6240433437%;
    width: 65.7919855521%;
  }
  .team-col-md-2-3:last-child {
    margin-right: 0;
  }
  .team-col-md-1-4 {
    float: left;
    display: block;
    margin-right: 2.6240433437%;
    width: 23.0319674923%;
  }
  .team-col-md-1-4:last-child {
    margin-right: 0;
  }
  .team-col-md-1-4:nth-child(4n) {
    margin-right: 0;
  }
  .team-col-md-1-4:nth-child(4n+1) {
    clear: left;
  }
  .team-col-md-3-4 {
    float: left;
    display: block;
    margin-right: 2.6240433437%;
    width: 74.3439891641%;
  }
  .team-col-md-3-4:last-child {
    margin-right: 0;
  }
}

@media (min-width: 64em) {
  .team-col-lg-1-2 {
    float: left;
    display: block;
    margin-right: 2.6240433437%;
    width: 48.6879783282%;
  }
  .team-col-lg-1-2:last-child {
    margin-right: 0;
  }
  .team-col-lg-1-2:nth-child(2n) {
    margin-right: 0;
  }
  .team-col-lg-1-2:nth-child(2n+1) {
    clear: left;
  }
  .team-col-lg-1-3 {
    float: left;
    display: block;
    margin-right: 2.6240433437%;
    width: 31.5839711042%;
  }
  .team-col-lg-1-3:last-child {
    margin-right: 0;
  }
  .team-col-lg-1-3:nth-child(3n) {
    margin-right: 0;
  }
  .team-col-lg-1-3:nth-child(3n+1) {
    clear: left;
  }
  .team-col-lg-2-3 {
    float: left;
    display: block;
    margin-right: 2.6240433437%;
    width: 65.7919855521%;
  }
  .team-col-lg-2-3:last-child {
    margin-right: 0;
  }
  .team-col-lg-1-4 {
    float: left;
    display: block;
    margin-right: 2.6240433437%;
    width: 23.0319674923%;
  }
  .team-col-lg-1-4:last-child {
    margin-right: 0;
  }
  .team-col-lg-1-4:nth-child(4n) {
    margin-right: 0;
  }
  .team-col-lg-1-4:nth-child(4n+1) {
    clear: left;
  }
  .team-col-lg-3-4 {
    float: left;
    display: block;
    margin-right: 2.6240433437%;
    width: 74.3439891641%;
  }
  .team-col-lg-3-4:last-child {
    margin-right: 0;
  }
}

@media (min-width: 75em) {
  .team-col-xlg-1-2 {
    float: left;
    display: block;
    margin-right: 2.6240433437%;
    width: 48.6879783282%;
  }
  .team-col-xlg-1-2:last-child {
    margin-right: 0;
  }
  .team-col-xlg-1-2:nth-child(2n) {
    margin-right: 0;
  }
  .team-col-xlg-1-2:nth-child(2n+1) {
    clear: left;
  }
  .team-col-xlg-1-3 {
    float: left;
    display: block;
    margin-right: 2.6240433437%;
    width: 31.5839711042%;
  }
  .team-col-xlg-1-3:last-child {
    margin-right: 0;
  }
  .team-col-xlg-1-3:nth-child(3n) {
    margin-right: 0;
  }
  .team-col-xlg-1-3:nth-child(3n+1) {
    clear: left;
  }
  .team-col-xlg-2-3 {
    float: left;
    display: block;
    margin-right: 2.6240433437%;
    width: 65.7919855521%;
  }
  .team-col-xlg-2-3:last-child {
    margin-right: 0;
  }
  .team-col-xlg-1-4 {
    float: left;
    display: block;
    margin-right: 2.6240433437%;
    width: 23.0319674923%;
  }
  .team-col-xlg-1-4:last-child {
    margin-right: 0;
  }
  .team-col-xlg-1-4:nth-child(4n) {
    margin-right: 0;
  }
  .team-col-xlg-1-4:nth-child(4n+1) {
    clear: left;
  }
  .team-col-xlg-3-4 {
    float: left;
    display: block;
    margin-right: 2.6240433437%;
    width: 74.3439891641%;
  }
  .team-col-xlg-3-4:last-child {
    margin-right: 0;
  }
}

.team-navigation {
  background: #ededed;
  min-height: 60px;
  left: 0;
  padding: 0.5em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 64em) {
  .team-navigation {
    padding: 0 30px;
  }
}

@media (min-width: 64em) {
  .team-navigation_toggle {
    display: none;
  }
}

.team-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.team-menu-primary {
  overflow: hidden;
  -webkit-transition: max-height 200ms ease-out;
  -moz-transition: max-height 200ms ease-out;
  transition: max-height 200ms ease-out;
}

.team-menu-primary::after {
  clear: both;
  content: "";
  display: table;
}

.js .team-menu-primary {
  max-height: 0;
}

.js .team-menu-primary.is-active {
  max-height: 40em;
}

@media (min-width: 64em) {
  .team-menu-primary {
    max-height: 40em;
    overflow: visible;
  }
}

.team-menu_item {
  position: relative;
}

.js .team-menu_item.has-subnav > a:before {
  content: '+';
  line-height: 1;
  margin-top: -10px;
  position: absolute;
  right: 0;
  top: 50%;
}

@media (min-width: 64em) {
  .js .team-menu_item.has-subnav > a {
    padding: 0 1.25em 0 0.5em;
  }
}

.team-menu_item.is-active .team-menu--sub {
  max-height: 40em;
}

@media (min-width: 64em) {
  .team-menu_item {
    float: left;
    margin-right: 1.25em;
  }
  .team-menu--sub .team-menu_item {
    float: none;
  }
  .team-menu_item:hover .team-menu--sub {
    max-height: 40em;
  }
}

.team-menu_item_link {
  display: block;
  padding: 0.5em 0;
  position: relative;
}

@media (min-width: 64em) {
  .team-menu_item_link {
    line-height: 60px;
    padding-bottom: 0;
    padding-top: 0;
  }
  .team-menu--sub .team-menu_item_link {
    line-height: 1.5;
    padding: 0.5em 0;
  }
}

.team-menu--sub {
  max-height: 0;
  overflow: hidden;
  padding-left: 1em;
  -webkit-transition: max-height 200ms ease-out;
  -moz-transition: max-height 200ms ease-out;
  transition: max-height 200ms ease-out;
}

.team-menu--sub.is-active {
  max-height: 40em;
}

@media (min-width: 64em) {
  .team-menu--sub {
    background-color: #fff;
    min-width: 200px;
    padding: 0 0.5em;
    position: absolute;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    width: 100%;
  }
  .team-menu--sub .team-menu_item {
    margin-right: 0;
  }
}

/*
 * Component: pagination
 */
.team-pagination {
  left: 10px;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.team-pagination_menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.team-pagination_menu_sub {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 100ms ease-out;
  -moz-transition: max-height 100ms ease-out;
  transition: max-height 100ms ease-out;
}

.sub-menu-active {
  margin: 10px 0;
  position: relative;
}

.sub-menu-active li {
  position: relative;
}

.sub-menu-active li:before {
  border-left: 1px solid #303030;
  bottom: 18px;
  content: '';
  left: 6px;
  position: absolute;
  top: -8px;
}

.sub-menu-active .team-pagination_menu_sub {
  max-height: 10em;
  overflow: visible;
}

.team-pagination_item {
  font-size: 14px;
  font-size: 0.875rem;
  display: block;
  min-height: 2em;
  padding-left: 20px;
  position: relative;
}

.team-pagination_item span {
  display: none;
  line-height: 2em;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}

@media (min-width: 48em) {
  .team-pagination_item:hover span {
    display: block;
  }
}

.team-pagination_item.is-active:after {
  opacity: 1;
}

.team-pagination_item:hover span {
  opacity: 1;
}

.team-pagination_item:before, .team-pagination_item:after {
  border-radius: 50%;
  content: '';
  height: 13px;
  left: 0;
  margin-top: -6px;
  position: absolute;
  top: 50%;
  width: 13px;
}

.team-pagination_item:before {
  border: 2px solid #303030;
}

.team-pagination_item:after {
  background: #303030;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}

/*
 * Component: images
 */
.team-image-placeholder {
  border: 1px solid #999;
}

.team-image--center {
  display: block;
  margin: 0 auto;
}

/*
 * Component: image block
 */
@media (min-width: 48em) {
  .team-image-block {
    float: left;
    display: block;
    margin-right: 3.5295971781%;
    width: 65.490134274%;
  }
  .team-image-block:last-child {
    margin-right: 0;
  }
  .team-image-block img {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 48em) {
  .team-image-supporting {
    float: left;
    display: block;
    margin-right: 3.5295971781%;
    width: 30.9802685479%;
  }
  .team-image-supporting:last-child {
    margin-right: 0;
  }
}

/*
 * Component: video
 */
.team-video-background {
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}

.object-fit .team-video-background {
  object-fit: cover;
  object-position: 50% 0;
  height: 100%;
  width: 100%;
}

/*
 * Module: generic section
 */
.team-main-content {
  padding-top: 60px;
}

.no-header .team-main-content {
  padding-top: 0;
}

.team-container {
  padding: 0 1.875em;
}

.team-row {
  margin-bottom: 1.25em;
}

@media (min-width: 48em) {
  .team-row {
    margin-bottom: 1.875em;
  }
}

/*
 * Module: generic full height sections
 */
.team-section {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  min-height: 200px;
  padding: 3.75em 0 1.875em;
  position: relative;
}

.team-section:nth-child(even) {
  background-color: #ededed;
}

@media (min-width: 48em) {
  .team-section {
    min-height: calc(100vh - 60px);
    padding: 3.75em 0;
  }
  .no-header .team-section {
    min-height: calc(100vh);
  }
}

.team-section--no-pad {
  padding: 0;
}

/*
 * Module: block grid
 */
@media (min-width: 48em) {
  .team-block-grid {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.team-block-grid_item {
  border: 1px solid #999;
  display: block;
  margin-bottom: 1.25em;
  padding: 1.25em;
  width: 100%;
  -webkit-transition: background-color 200ms ease-out;
  -moz-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
}

.team-block-grid_item:hover {
  background-color: #fff;
}

.team-block-grid_item:last-child {
  margin-bottom: 0;
}

@media (min-width: 48em) {
  .team-block-grid_item {
    display: table;
    margin-bottom: 0;
    min-height: 250px;
  }
}

@media (min-width: 64em) {
  .team-block-grid_item {
    margin-bottom: 0;
    min-height: 300px;
  }
}

@media (min-width: 48em) {
  .team-block-grid_item_header {
    position: absolute;
  }
}

@media (min-width: 48em) {
  .team-block-grid_item_inner {
    display: table-cell;
    padding-top: 50px;
    vertical-align: middle;
  }
}

/*
 * Module: iframe
 */
.team-iframe-wrapper {
  background-color: #ededed;
  height: 100vh;
  height: calc(100vh - 60px);
  width: 100%;
}

.team-iframe {
  background-color: #fff;
  display: block;
  height: 100vh;
  height: calc(100vh - 60px);
  margin: 0 auto;
  width: 100%;
  -webkit-transition: width 200ms ease-in-out;
  -moz-transition: width 200ms ease-in-out;
  transition: width 200ms ease-in-out;
}

.team-bp-selector {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 30px;
  top: 0;
  z-index: 200;
}

.team-bp-selector li {
  display: inline-block;
}

@media (min-width: 64em) {
  .team-bp-selector {
    display: block;
  }
}

.team-bp-selector_item {
  display: block;
  line-height: 60px;
  padding: 0 0.5em;
}

.team-bp-selector_item:hover {
  background-color: #999;
}

/*
 * Color themes
 */
.bg-grey-dark {
  background-color: #303030;
}

.bg-grey-mid {
  background-color: #999;
}

.bg-grey-light {
  background-color: #ededed;
}

/*
 * sass library
 */
/*
 * Theme: brand name
 */
/*
 * Component: pagination color theme
 */
.theme-red a:before,
.theme-red li:before {
  border-color: red;
  -webkit-transition: border-color 200ms ease-out;
  -moz-transition: border-color 200ms ease-out;
  transition: border-color 200ms ease-out;
}

.theme-red :after {
  background-color: red;
  -webkit-transition: background-color 200ms ease-out;
  -moz-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
}

.theme-red span {
  color: red;
  -webkit-transition: color 200ms ease-out;
  -moz-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
}
